<a href="https://colab.research.google.com/github/Thotasaiteja2004/python-trainning-program/blob/main/04-09-2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input())
for i in range(0,n+1,2):
    print(i,end="")
    print()
for i in range(n,-1,-1):
    print(i,end=" ")
    print()

30
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [3]:
n=int(input())
r=0
f=n
while(n!=0):
    d=n%10
    r=(r*10)+d
    n=n//10
if f==n:
    print("palindrome")
else:
    print("not a palindrome")

121
not a palindrome

In [4]:
n=int(input("enter n value : "))
rev,rem=0,0
while n:
    rem=n%10
    rev=rev*10+rem
    n=n//10
    print(rev)

enter n value : 10
0
1

In [5]:
n=int(input("enter n value: "))
frist,next=0,1
print(frist,next,end="")
for i in range(2,n):
    sum=frist+next
    print(sum,end="")
    frist=next
    next=sum

enter n value: 15
0 1123581321345589144233377

In [13]:
n=int(input("enter n value : "))
fact = 1
for i in range (1,n+1):
  fact=fact * i
print(fact)

enter n value : 5
120

In [16]:
n = int(input("enter the number: "))
sum=0
for i in range(1,n+1):
  sum=sum+i
  print(sum)

enter the number: 5
1
3
6
10
15

In [19]:
n=int(input())
count=0
for i in range(1,n+1):
  if n%i==0:
    count=count+1
if count==2:
  print("prime number")
else:
  print("not a prime number")

9
not a prime number

In [20]:
n=int(input())
times=0
temp=0
for i in range(2,n):
  times+=1
  if n%i==0:
    temp=1
    break
  print("times:",times)
  if temp==0:
    print(f"{n} is prime")
  else:
    print(f"{n} is not a prime")

5
times: 1
5 is prime
times: 2
5 is prime
times: 3
5 is prime

In [24]:
for i in range(1,6):
  for j in range(1,9):
    print(i,end="")
  print()

11111111
22222222
33333333
44444444
55555555

In [33]:
count=0
a = "i love You"
for i in range(1,6):
  count = 0
  for j in range(0,i):
    print(a[count],end="")
    count +=1
  print()

i
i
i l
i lo
i lov